<html>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.js"></script>
<script src="../static/js/app.js"></script>
<script src="../static/js/controller/customerController.js"></script>
<script src="../static/js/service/customerService.js"></script>
<head>
<link rel="stylesheet" type="text/css"
	href="../static/css/customerCSS.css">
</head>
<body ng-app="myApp"
	ng-controller="customerController as customerController" class="body">
	<h2>Order Services</h2>
	<div align="center">
		<div>
			<div>
				<h2>Customer Registration Form</h2>
				<h3>Help: Click on Add bttom after entering the data in below table and see the created customers in the table under the List of Customers.</h3>
			</div>
			<div>
				<form ng-submit="submit()" name="myForm">
					<table>
						<tbody>
							<input type="hidden" ng-model="id" />
							<tr>
								<td><label class="col-md-2 control-lable"
									for="customerFirstName">First Name</label></td>
								<td><input type="text" ng-model="customerFirstName"
									id="customerFirstName" class="username form-control input-sm"
									required ng-minlength="3" placeholder="Enter your Last name" />
									<span ng-show="myForm.uname.$error.required">This is a
										required field</span> <span ng-show="myForm.uname.$error.minlength">Minimum
										length required is 3</span> <span ng-show="myForm.uname.$invalid">This
										field is invalid </span></td>
								<br>
							</tr>
							<tr>
								<td><label class="col-md-2 control-lable"
									for="customerLastName">Last Name</label></td>
								<td><input type="text" ng-model="customerLastName"
									id="customerLastName" class="username form-control input-sm"
									placeholder="Enter your Last name" required ng-minlength="3" />
									<span ng-show="myForm.uname.$error.required">This is a
										required field</span> <span ng-show="myForm.uname.$error.minlength">Minimum
										length required is 3</span> <span ng-show="myForm.uname.$invalid">This
										field is invalid </span></td>
								<br>
							</tr>
							<tr>
								<td><label class="col-md-2 control-lable"
									for="customerMobile">Mobile Number</label></td>
								<td><input type="text" ng-model="customerMobile"
									id="customerMobile" class="username form-control input-sm"
									placeholder="Enter your Mobile Number" required
									ng-minlength="3" /> <span
									ng-show="myForm.uname.$error.required">This is a
										required field</span> <span ng-show="myForm.uname.$error.minlength">Minimum
										length required is 3</span> <span ng-show="myForm.uname.$invalid">This
										field is invalid </span></td>
								<br>
							</tr>
							<tr>
								<td><label class="col-md-2 control-lable"
									for="customerPhone">Phone Number</label></td>
								<td><input type="text" ng-model="customerPhone"
									id="customerPhone" class="username form-control input-sm"
									placeholder="Enter your Phone Number" required ng-minlength="3" />
								</td>
								<br>
							</tr>
							<tr>
								<td><label class="col-md-2 control-lable"
									for="customerCountry">Country</label></td>
								<td><input type="text" ng-model="customerCountry"
									id="customerCountry" class="form-control input-sm"
									placeholder="Enter your Country" /></td>
								<br>
							</tr>
							<tr>
								<td><label class="col-md-2 control-lable"
									for="customerState">State</label></td>
								<td><input type="text" ng-model="customerState"
									id="customerState" class="form-control input-sm"
									placeholder="Enter your State" /></td>

								<br>
							</tr>
							<tr>
								<td><label class="col-md-2 control-lable"
									for="customerPostcode">PostalCode</label></td>
								<td><input type="text" ng-model="customerPostcode"
									id="customerPostcode" class="form-control input-sm"
									placeholder="Enter your Postal Code" /></td>
								<br>
							</tr>
							<tr>
								<td><label class="col-md-2 control-lable"
									for="customerAddress">Address</label></td>
								<td><input type="text" ng-model="customerAddress"
									id="customerAddress" class="form-control input-sm"
									placeholder="Enter your Address." /></td>
								<br>
							</tr>
							<tr>
								<td><label class="col-md-2 control-lable"
									for="customerEmail">Email</label></td>
								<td><input type="email" ng-model="customerEmail"
									id="customerEmail" class="email form-control input-sm"
									placeholder="Enter your Email" required /> <span
									ng-show="myForm.email.$error.required">This is a
										required field</span> <span ng-show="myForm.email.$invalid">This
										field is invalid </span></td>
							</tr>
							<br>
							<br>
							<td><input type="submit" value="Add"
								ng-disabled="myForm.$invalid"></td>
							<td>
								<button type="button" ng-click="reset()"
									class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset
									Form</button>
							</td>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>

	<br>
	<br>

	<div align="center">
		<!-- Default panel contents -->
		<div class="panel-heading" align="center">
			<span class="lead"><h2>List of Customers</h2></span>
			<h3>Help: click on Edit button and see the above table to modify the current values of the selected customer and click on Remove button to delete the customer</h3>
		</div>
		<div class="tablecontainer">
			<table>
				<thead>
					<tr>
						<th>ID.</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Address</th>
						<th>Mobile Number</th>
						<th>Email</th>
						<th width="20%"></th>
					</tr>
				</thead>
				<tbody ng-repeat="c in customers">
					<tr>
						<td><span ng-bind="c.id"></span></td>
						<td><span ng-bind="c.customerFirstName"></span></td>
						<td><span ng-bind="c.customerLastName"></span></td>
						<td><span ng-bind="c.customerAddress"></span></td>
						<td><span ng-bind="c.customerMobile"></span></td>
						<td><span ng-bind="c.customerEmail"></span></td>
						<td>
							<button type="button" ng-click="edit(c.id)">Edit</button>
							<button type="button" ng-click="remove(c.id)">Remove</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>
